@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");
@import url("animations.css");

html
{
	background-color: yellow;
}

body
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15pt;
	font-weight: 300;
	letter-spacing: -0.025em;
	line-height: 1.75em;
}

.icon
{
	text-decoration: none;
	font-family: FontAwesome;
}

#main
{
	height: 100%;
	position: fixed;
	left:0;
	text-align: center;
	top: 0;
	width: 100%;
}

#main:before
{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#content
{
	-moz-animation: content 0.5s 0.5s forwards;
	-webkit-animation: content 0.5s 0.5s forwards;
	-ms-animation: content 0.5s 0.5s forwards;
	animation: content 0.5s 0.5s forwards;
	display: inline-block;
	opacity: 0;
	vertical-align: middle;
	width: 90%;
}

#content a
{
	color: black;
}

#content h1
{
	font-size: 4.35em;
	font-weight: 900;
	letter-spacing: -0.035em;
	line-height: 1em;
	margin: 0;
}

#content p
{
	font-size: 1.25em;
}

#content nav ul
{
	list-style: none;
	margin-top: 10px;
	padding-left: 0px;
}

#content nav li
{
	-moz-animation: nav-icons 0.2s ease-in-out forwards;
	-webkit-animation: nav-icons 0.2s ease-in-out forwards;
	-ms-animation: nav-icons 0.2s ease-in-out forwards;
	animation: nav-icons 0.2s ease-in-out forwards;
	display: inline-block;
	height: 5.5em;
	line-height: 5.5em;
	opacity: 0;
	position: relative;
	top: 0;
	width: 5.35em;
}

#content nav li:nth-child(1)
{
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-ms-animation-delay: 1s;
	animation-delay: 1s;
}

#content nav li:nth-child(2)
{
	-moz-animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	animation-delay: 1.2s;
}

#content nav li:nth-child(3)
{
	-moz-animation-delay: 1.4s;
	-webkit-animation-delay: 1.4s;
	-ms-animation-delay: 1.4s;
	animation-delay: 1.4s;
}

#content nav a
{
	display: inline-block;
}

#content nav a:before
{
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 1px;
	display: block;
	font-size: 1.75em;
	height: 2.5em;
	line-height: 2.5em;
	position: relative;
	text-align: center;
	top: 0;
	width: 2.5em;
}

#content nav a:hover
{
	font-size: 1.1em;
}

#content nav a:active
{
	font-size: 0.95em;
}

@media screen and (max-width: 1200px)
{
	body
	{
		font-size: 12pt;
	}
}

@media screen and (max-width: 1024px)
{
	body
	{
		font-size: 12pt;
	}
}

@media screen and (max-width: 900px)
{
	body
	{
		font-size: 11pt;
	}
}

@media screen and (max-width: 768px)
{
	body
	{
		font-size: 11pt;
	}
}

@media screen and (max-width: 600px)
{
	body
	{
		font-size: 10pt;
	}
}

@media screen and (max-width: 480px)
{
	body
	{
		font-size: 10pt;
	}
}

@media screen and (max-width: 320px)
{
	body
	{
		font-size: 9pt;
	}
}